{
  "dxt_version": "0.2",
  "name": "insights-mcp",
  "display_name": "Insights MCP",
  "version": "{{VERSION}}",
  "description": "Interact with Red Hat Insights services like the hosted image builder.\n_REQUIRES_ `podman` to be installed!",
  "author": {
    "name": "Florian Schüller",
    "email": "florian.schueller@redhat.com"
  },
  "homepage": "https://github.com/RedHatInsights/insights-mcp",
  "icon": "icon.png",
  "server": {
    "type": "binary",
    "entry_point": "${user_config.CONTAINER_RUNTIME}",
    "mcp_config": {
      "command": "${user_config.CONTAINER_RUNTIME}",
      "args": [
            "run",
            "--env",
            "INSIGHTS_CLIENT_ID",
            "--env",
            "INSIGHTS_CLIENT_SECRET",
            "--interactive",
            "--rm",
            "{{CONTAINER_IMAGE}}"
      ],
      "env": {
            "INSIGHTS_CLIENT_ID": "${user_config.INSIGHTS_CLIENT_ID}",
            "INSIGHTS_CLIENT_SECRET": "${user_config.INSIGHTS_CLIENT_SECRET}"
      }
    }
  },
  "tools_generated": true,
  "user_config": {
    "INSIGHTS_CLIENT_ID": {
      "type": "string",
      "title": "console.redhat.com client ID",
      "description": "Client ID of a service account of console.redhat.com",
      "required": true,
      "sensitive": true
    },
    "INSIGHTS_CLIENT_SECRET": {
      "type": "string",
      "title": "console.redhat.com client secret",
      "description": "Client secret of a service account of console.redhat.com",
      "required": true,
      "sensitive": true
    },
    "CONTAINER_RUNTIME": {
      "type": "string",
      "title": "Container runtime (podman, docker, etc.)",
      "description": "Container runtime to use. Set a FULL PATH to the executable if there are problems on startup.",
      "required": true,
      "default": "podman"
    }
  },
  "keywords": [
    "iso",
    "installer",
    "linux",
    "red hat",
    "cloud image"
  ],
  "license": "Apache-2.0"
}
